@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --bg-color: #ECD8BD;
    --primary-color: #9AA59D;
    --secondary-color: #F6CDB4;
    --font: "Playfair Display", sans-serif;
}
